.avis{
    background-color: #fafafa;
    padding: 24px 0;
    font-family: 'Ubuntu';
    
    &__title{
        text-align: left;
        color: #1e629f;
        font-size: 20px;
        font-weight: 700;
    }
    
    &__lien{
        margin-top: 40px;
        color: #1e629f;
        font-size: 16px;
        text-decoration: none;
        background-color: #f6d950;
        padding: 5px 0;
    }
    
    &__comments{
        font-size: 14px;
        margin-top: 14px;
        margin-bottom: 24px;
        line-height: 25.2px;
    }
    
    &__item{
        box-shadow: 0 36px 48px 0 rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        padding: 50px 65px;
        text-align: left;
    }
    
    &__stars--star{
        height: 16px;
        width: 16px;
    }
    
    &__stars--star--umpty{
        opacity: 0.3;
    }
    
    &__profil{
        display: flex;
        align-items: center;
    }
    
    
    &__profil--picture--pdp{
        margin-right: 16px;
        height: 48px;
    }
    
    
    &__profil--info--nom{
        color: #1e629f;
        font-weight: 500;
        font-size: 16px;
    }
    
    &__profil--info--addresse{
        font-weight: 400;
        font-size: 16px;
        color: #1e629f;
    }
}