.figures{
    padding: 72px 0;
    
    &__title{
        font-family: 'Ubuntu';
        color: #1e629f;
        font-weight: 700;
        text-align: center;
        font-size: 2.3rem;
    }
    
    
    &__item--content{
        box-shadow: 0 36px 48px 0 rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        text-align: center;
        padding: 60px 10px;
        margin-right: 30px;
        
    }
    
    &__item--number{
        font-family: 'Ubuntu';
        font-weight: 400;
        font-size: 48px;
        margin: 0;
    }
    
    .\--flat{
            color: #927eec;;
        }
    .\--trip{
            color: #4a7dd8;;
        }
    .\--money{
            color: #6de8d7;;
        }
    
    &__item--title{
        font-family: 'Ubuntu';
        font-weight: 500;
        color: #1e629f;
        font-size: 14px;
    }
    
    
}