.footer{
    padding-bottom: 50px;
    font-family: 'Ubuntu';
    background-color: rgb(51, 51, 51);
    color: #ffffff;
    
    &__social{
        display: flex;
        justify-content: space-between;
    }
    
    &__social--logo{
        width: 35px;
    }
    
    &__logo{
        height: 60px;
        width: 151px;
    }
    
    &__text{
        padding: 12px 0;
        line-height: 21.60px;
        font-size: 12px;
    }
    
    &__title{
        font-size: 14px;
        font-weight: 700;
    }
    
    &__liste{
        width: 181px;
        height: 84px;
    }
    
    &__info{
        display: flex;
        justify-content: space-between;
    }
    
    &__link{
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
    }
    
    &__link:hover{
        color: lightgray;
    }
    
    &__item--text{
        font-size: 12px;
    }
    
}

.yellow{
    color: #eec315;
}

ul{
    padding: 0;
}


li{
    list-style: none;
}