body{
    margin: 0;
}

.header{
    bottom: 853px;
    background-color: #ffffff;
    height: 86px;
    position: fixed;
    font-family: 'Ubuntu';
    width: 100%;
    box-shadow: 0 -9px 40px 0 rgba(0, 0, 0, 0.32);
    
    &__infos{
        margin: -45px 0;
        font-size: 16px;
    }
    
    &__hostnfly{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__logo{
        width: 150px;
        height: 63px;
    }
    
    &__link{
        text-decoration: none;
    }
    
    &__textBlue{
        color: #1e629f;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 0px;
    }
    
    &__phone{
        color: #23a2c1;
        font-weight: 500;
        font-size: 14px;
        text-align: left;
    }
    
    &__phone--picto{
        
        width: 20px;
        height: 20px;
    }
    
    &__phone--all{
        display: flex;
        margin-top: 10px;
    }
    
    &__textBig{
        color: #23a2c1;
        font-weight: 500;
        font-size: 16ox;

    }
    
    &__right{
        padding: 8px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        height: 76px;
        width: 576px;
    }
    
    &__text{
        margin-right: 10px;
    }
    
    &__textSmall{
        color: #23a2c1;
        font-weight: 400;
        font-size: 16px;
    }
    
    &__text--all{
        display: flex;
        justify-content: flex-end;
    }
    
    &__button{
        padding: 14px 40px;
        width: 300px;
        height: 60px;
        background-color: rgb(35, 162, 193);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
    
    &__button:hover{
        background-color: #1e629f;
    }
    
    &__button--text{
        font-size: 14px;
        color: #ffffff;
    }
}