.items {

    background-image: url(https://www.hostnfly.com/static/media/conciergerie-airbnb-gestion-de-votre-location-saisonniere.8382f208.jpg);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
    padding: 38px 24px;

    &__title {
        color: #1e629f;
        font-family: "ubuntu";
        font-size: 36px;
        font-weight: 700;
        text-align: right;
    }

    &__subtitle {
        color: #1e629f;
        font-family: "ubuntu";
        font-size: 16px;
        text-align: right;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100px;
    }

    &__text {
        color: #1e629f;
        font-family: "ubuntu";
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    &__item {
        margin-top: 100px;
    }
    
    &__item--lien{
        text-decoration: none;
    }
}
