.qa{
    padding: 70px 0;
    font-family: 'Ubuntu';
    
    &__title{
        color: #1e629f;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
    
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__item--column{
        width: 1200px;
          
    }
    
    &__lien{
        text-decoration: none;
        background-color: #f6d950;
        font-size: 14px;
        color: #1e629f;
        padding: 5px 0;
    }
    
    &__item--column--object{
        color: #23a2c1;
        font-size: 16px;
        font-weight: 500;
        border: solid 0.3px;
        border-color: #eaeaea;
        margin: 10px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
    
    &__item--arrow{
        height: 20px;
        top: 20px;
        right: 20px;
    }
    
    &__text{
        text-align: center;
    }
}