.container{
    width: 1124px;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 60px;
}

.services{
    padding-top: 150px;
    text-align: center;
    background-color: #fafafa;
    
    &__img{
        height: 100px;
        margin: auto;
    }
    
    &__title{
        color: #1e629f;
        font-size: 24px;
        font-weight: 700;
        font-family: "ubuntu";
    }
    
    &__text{
        font-size: 14px;
        line-height: 28px;
        font-family: "ubuntu";
        margin-top: 14px;
        margin-bottom: 14px;
    }
    
    &__text--blue{
        color: #1e629f;
        font-size: 14px;
        line-height: 28px;
        font-family: "ubuntu";
    }
}